input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.c-not-allowed {
    cursor: not-allowed !important;
}

.c-not-allowed:hover {
    text-decoration: none !important;
}

.eapps-widget:hover .eapps-widget-toolbar {
    display: none !important;
}

.ibnJBQ>a {
    display: none !important;
}

.eqZPsd {
    font-size: 57px !important;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
    color: #002a6a !important;
    letter-spacing: -0.05em !important;
    line-height: 100% !important;
    text-align: center !important;
}

button,
button:active,
button:focus {
    outline: none !important;
}

@media (max-width: 991px) {
    .eqZPsd {
        font-size: 35px !important;
    }
}

@media (max-width: 767px) {
    .eqZPsd {
        font-size: 30px !important;
    }

    .dialog {
        padding-left: 0px !important;
    }
}


.text-left-home{
    text-align: left !important;
}


    .marquee-down {
      display: flex;
      flex-direction: column;
      animation: scroll-down 20s linear infinite;
    }

    .marquee-down:hover {
  animation-play-state: paused;
}

    @keyframes scroll-down {
      0% {
        transform: translateY(-50%);
      }
      100% {
        transform: translateY(0%);
      }
    }
